<div class="box">
  <div class="box-body no-padding">
    <table class="table table bordered">
      <thead>
        <tr>
          <th><%= t('.labels.name') %></th>
          <th><%= t('.labels.username') %></th>
          <th><%= t('.labels.email') %></th>
          <th><%= t('.labels.actions') %></th>
        </tr>
      </thead>
      <% @participations.each do |participation| %>
        <tr>
          <td><%= participation.user.name %></td>
          <td><%= participation.user.username %></td>
          <td><%= participation.user.email %></td>
          <td>
            <%= link_to t('.destroy'), root_path, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= form_tag league_participations_path do %>
      <%= hidden_field_tag 'league_id', @league.uuid %>
      <div class="input-group">
        <span class="input-group-addon">
          <b><%= t('.labels.invite') %></b>
        </span>
        <%= text_field_tag 'user_email', nil, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><%= t('.invite') %></button>
        </span>
      </div>
    <% end %>
  </div>
</div>
