<%= content_for :head do %>
  <h1 class="panel panel-body">
    <%= @league.name %>
    <small><%= @league.description %></small>
    <% if policy(@league).edit? %>
      <%= link_to t('.edit'), edit_league_path(@league.uuid), class: 'btn btn-info pull-right' %>
    <% end %>
  </h1>
<% end %>
<%= render partial: "leagues/show/leaderboard", locals: { report: @report } %>
<%= render partial: "leagues/show/match_predictions", locals: { report: @report } %>
<% if @league.participations.count > 1 %>
  <%= render partial: "leagues/show/leaderboard_history", locals: { report: @report } %>
<% end %>
