<div class="row">
  <% @predictions.each do |prediction| %>
    <% match = MatchPresenter.new(prediction.match) %>
    <% result = PredictionResultPresenter.new(prediction.result) %>
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default prediction-item">
        <div class="panel-heading"><%= match.identifier %></div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Palpite</th>
                <th class="text-center"><i class="fa fa-dot-circle-o"></i></th>
                <th class="text-center"><i class="fa fa-futbol-o"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img class="team-flag" src="<%= match.home_team.flag_url %>">
                  <%= match.home_team.name %>
                  <span class="hidden-xs"> (<%= match.home_team.fifa_code %>)</span>
                </td>
                <td class="text-center predictions-table-score"><%= prediction.home_score %></td>
                <td class="text-center predictions-table-score"><%= match.home_score %></td>
              </tr>
              <tr>
                <td>
                  <img class="team-flag" src="<%= match.away_team.flag_url %>">
                  <%= match.away_team.name %>
                  <span class="hidden-xs"> (<%= match.away_team.fifa_code %>)</span>
                </td>
                <td class="text-center"><%= prediction.away_score %></td>
                <td class="text-center"><%= match.away_score %></td>
              </tr>
            </tbody>
          </table>
          <% result.successes.each do |s| %>
            <p><%= s %></p>
          <% end %>
          <p>Score: <span><%= result.score %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
