<div class="row">
  <% @predictions.each do |prediction| %>
    <% match = MatchPresenter.new(prediction.match) %>
    <% result = PredictionResultPresenter.new(prediction.result, match) %>
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default prediction-item">
        <div class="panel-heading"><%= match.identifier %></div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><%= t('.prediction') %></th>
                <th class="text-center"><i class="fa fa-dot-circle-o"></i></th>
                <th class="text-center"><i class="fa fa-futbol-o"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img class="team-flag" src="<%= match.home_team.flag_url %>">
                  <%= match.home_team.name %>
                  <span class="hidden-xs"> (<%= match.home_team.fifa_code %>)</span>
                </td>
                <td class="text-center predictions-table-score"><%= prediction.home_score %></td>
                <td class="text-center predictions-table-score"><b><%= match.home_score %></b></td>
              </tr>
              <tr>
                <td>
                  <img class="team-flag" src="<%= match.away_team.flag_url %>">
                  <%= match.away_team.name %>
                  <span class="hidden-xs"> (<%= match.away_team.fifa_code %>)</span>
                </td>
                <td class="text-center predictions-table-score"><%= prediction.away_score %></td>
                <td class="text-center predictions-table-score"><b><%= match.away_score %></b></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <% if match.finished? %>
              <div class="col-xs-7">
                <% result.criteria.each do |name, criteria| %>
                  <i class="fa fa-circle<%= "-o" unless criteria.hit? %>"></i>
                <% end %>
              </div>
              <div class="col-xs-5 text-right">
                <p><%= t('.score') %> <span><%= result.score %></p>
              </div>
            <% else %>
              <p class="col-xs-12"><%= t('.not_finished') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'predictions/index/info' %>
