<div class="row">
  <% @predictions.each do |prediction| %>
    <% match = MatchPresenter.new(prediction.match) %>
    <div class="col-lg-4">
      <div class="panel panel-default prediction-item">
        <div class="panel-heading">
          <div class="game-info">
            <div class="team home-team">
              <img class="team-flag" src="<%= match.home_team.flag_url %>">
              <span class="team-name"><%= match.home_team.fifa_code %></span>
            </div>
            <i class="fa fa-times"></i>
            <div class="team away-team">
              <span class="team-name"><%= match.away_team.fifa_code %></span>
              <img class="team-flag" src="<%= match.away_team.flag_url %>">
            </div>
          </div>
        </div>
        <div class="panel-body text-center">
          <label>Palpite</label>
          <p>
            <%= match.home_team.fifa_code %> <%= prediction.home_score %>
            <span>x</span>
            <%= prediction.away_score %> <%= match.away_team.fifa_code %>
          </p>
          <label>Resultado</label>
          <p>
            <%= match.home_team.fifa_code %> <%= match.home_score %>
            <span>x</span>
            <%= match.away_score %> <%= match.away_team.fifa_code %>
          </p>
          <label>Resultado</label>
          <p>
            <%= match.home_team.fifa_code %> <%= match.home_score %>
            <span>x</span>
            <%= match.away_score %> <%= match.away_team.fifa_code %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
