<table class="table table-bordered match-table">
  <% MatchPresenter.wrap(matches).each do |match| %>
    <%= form_for ['admin', match], method: :put, remote: true do |f| %>
      <tr class="<%='played-match' if match.past? %>">
        <td class="match-code hidden-xs"><%= match.identifier %></td>
        <td class="match-date hidden-xs">
          <%= match.datetime %>
        </td>
        <td class="match-team match-home-team">
          <% if match.home_team.id %>
            <img class="team-flag" src="<%= match.home_team.flag_url %>">
            <span class="team-name hidden-xs"><%= match.home_team.name %></span>
            <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.home_team.fifa_code %></span>
          <% else %>
            <%= f.select :home_team_id, [], {}, { class: "form-control select2" } %>
          <% end %>
        </td>
        <% if match.knockout? %>
          <td class="match-score match-score-input match-home-score">
            <%= f.text_field :home_penalty, \
              class: "form-control game-score game-penalty", \
              value: match.home_penalty, \
              data: { inputmask: "'mask': '9'" } %>
          </td>
        <% end %>
        <td class="match-score match-score-input match-home-score">
          <% if !match.finished? %>
            <%= f.text_field :home_score, \
              class: "form-control game-score", \
              value: match.home_score, \
              data: { inputmask: "'mask': '9'" } %>
          <% else %>
            <span><%= match.home_complete_score %></span>
          <% end %>
        </td>
        <td class="match-score match-score-input match-away-score">
          <% if !match.finished? %>
            <%= f.text_field :away_score, \
              class: "form-control game-score", \
              value: match.away_score, \
              data: { inputmask: "'mask': '9'" } %>
          <% else %>
            <span><%= match.away_complete_score %></span>
          <% end %>
        </td>
        <% if match.knockout? %>
          <td class="match-score match-score-input match-away-score">
            <%= f.text_field :away_penalty, \
              class: "form-control game-score game-penalty", \
              value: match.away_penalty, \
              data: { inputmask: "'mask': '9'" } %>
          </td>
        <% end %>
        <td class="match-team match-away-team">
          <% if match.away_team.id %>
            <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.away_team.fifa_code %></span>
            <span class="team-name hidden-xs"><%= match.away_team.name %></span>
            <img class="team-flag" src="<%= match.away_team.flag_url %>">
          <% else %>
            <%= f.select :away_team_id, [], {}, { class: "form-control select2" } %>
          <% end %>
        </td>
        <td class="match-details-actions text-center">
          <% if match.finished? %>
            <p><%= t('.finished') %></p>
          <% else %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
