<% invite = LeagueInvite.find_by_uuid(params[:invite]) %>
<h2 class="login-box-msg"><%= t(".title") %></h2>
<%= form_for @user do |form| %>
  <% if invite %>
    <p>Depois disso, você poderá se inscrever na liga <b><%= invite.league.name %></b>
    <%= hidden_field_tag :invite, params[:invite] %>
  <% end %>
  <div class="form-group has-feedback <%= "has-error" if @user.errors[:name].present? %>">
    <%= form.text_field :name, type: 'text', class: 'form-control', placeholder: t('activerecord.attributes.user.name') %>
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback <%= "has-error" if @user.errors[:email].present? %>">
    <% if invite %>
      <%= form.text_field :email, value: invite.email, type: 'email', class: 'form-control', readonly: true %>
    <% else %>
      <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: t('activerecord.attributes.user.email') %>
    <% end %>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback <%= "has-error" if @user.errors[:password].present? %>">
    <%= form.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <%= form.submit class: "btn btn-primary btn-block btn-flat" %>
<% end %>

<div class="social-auth-links">
  <%= link_to t(".sign_in"), sign_in_path %>
</div>
