<div class="row">
  <% @matchdays.each do |matchday| %>
    <div class="col-md-4">
      <div class="box <%= matchday.available? ? 'box-success' : 'box-default' %>">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t(matchday.code, scope: 'matchday') %></h3>
        </div>
        <div class="box-body">
          <div>
            <label><%= t('.started_at') %></label>
            <p><%= l(matchday.started_at) %></p>
          </div>
          <div>
            <label><%= t('.ended_at') %></label>
            <p><%= l(matchday.ended_at) %></p>
          </div>
          <div>
            <label><%= t('.matches_count') %></label>
            <p><%= matchday.matches.count %></p>
          </div>
        </div>
        <div class="box-footer text-right">
          <button class="btn btn-default"><i class="fa fa-edit"></i> <%= t('.edit') %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
