<h2 class="login-box-msg"><%= t(".title") %></h2>
<%= form_for :password_reset,
      url: user_password_path(@user, token: @user.confirmation_token),
      html: { method: :put } do |form| %>
  <p><%= t(".description") %></p>

  <div class="form-group has-feedback">
    <%= form.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <%= form.submit class: "btn btn-primary btn-block btn-flat" %>
<% end %>

