<h2 class="login-box-msg"><%= t(".title") %></h2>
<%= form_for :password, url: passwords_path do |form| %>
  <p><%= t(".description") %></p>

  <div class="form-group has-feedback">
    <%= form.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.user.email') %>
    <span class="fa fa-envelope form-control-feedback"></span>
  </div>

  <%= form.submit class: "btn btn-primary btn-block btn-flat" %>
<% end %>

