<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <span class="fa-stack fa-lg user-image">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <% if current_user.admin? %>
          <span class="text-sm">
            <i class="fa fa-gears text-white"></i> <%= t('navigation.admin') %></span>
        <% else %>
          <span class="text-sm">
            <i class="fa fa-globe text-white"></i> <%= current_user.username %></span>
        <% end %>
      </div>
    </div>
    <ul class="sidebar-menu" data-widget="tree">
      <%= menu_header_for t('navigation.headers.main') %>
      <%= menu_item_for root_path, icon: 'home', text: t('navigation.home') %>
      <%= menu_item_for current_predictions_path, icon: 'futbol-o', text: t('navigation.current_predictions') %>
      <%= menu_item_for predictions_path, icon: 'history', text: t('navigation.predictions') %>

      <%= submenu_for Hash(controller: 'leagues'), { icon: 'trophy', text: t('navigation.leagues.root') } do %>
        <%= menu_item_for leagues_path, icon: 'list', text: t('navigation.leagues.index') %>
        <%= menu_item_for new_league_path, icon: 'plus', text: t('navigation.leagues.new') %>
      <% end %>

      <%= menu_header_for t('navigation.headers.tournament') %>
      <%= menu_item_for matches_path, icon: 'table', text: t('navigation.matches') %>

      <% if current_user.admin? %>
        <%= menu_header_for t('navigation.headers.admin') %>
        <%= menu_item_for admin_matches_path, icon: 'calendar-check-o', text: t('navigation.match_management') %>
      <% end %>
    </ul>
  </section>
</aside>
