<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <span class="fa-stack fa-lg user-image">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <% if current_user.admin? %>
          <span class="text-sm">
            <i class="fa fa-gears text-white"></i> <%= t('navigation.admin') %></span>
        <% else %>
          <span class="text-sm">
            <i class="fa fa-globe text-white"></i> <%= current_user.username %></span>
        <% end %>
      </div>
    </div>
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><%= t('navigation.title') %></li>
      <li>
        <%= link_to predictions_path do %>
          <i class="fa fa-futbol-o"></i>
          <span><%= t('navigation.predictions') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to matches_path do %>
          <i class="fa fa-table"></i>
          <span><%= t('navigation.matches') %></span>
        <% end %>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="../../index.html">
              <i class="fa fa-circle-o"></i> Dashboard v1</a>
          </li>
          <li>
            <a href="../../index2.html">
              <i class="fa fa-circle-o"></i> Dashboard v2</a>
          </li>
        </ul>
      </li>
      <li class="header">LABELS</li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-red"></i>
          <span>Important</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-yellow"></i>
          <span>Warning</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-aqua"></i>
          <span>Information</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
