<% if team.id.present? %>
  <% history = MatchPresenter.wrap(team.matches.order(:datetime)) %>
  <% if history.present? %>
    <table class="table table-bordered m-t-lg">
      <thead>
        <tr>
          <th colspan="5">
            <%= t('.title', team: team.name) %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% history.each do |match| %>
          <tr>
            <td class="match-stage hidden-xs"><%= match.stage %></td>
            <td class="match-team match-home-team">
              <img class="team-flag" src="<%= match.home_team.flag_url %>">
              <span class="team-name hidden-xs"><%= match.home_team.name %></span>
              <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.home_team.fifa_code %></span>
            </td>
            <td class="text-center match-score match-home-score"><%= match.home_complete_score %></td>
            <td class="text-center match-score match-away-score"><%= match.away_complete_score %></td>
            <td class="match-team match-away-team text-right">
              <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.away_team.fifa_code %></span>
              <span class="team-name hidden-xs"><%= match.away_team.name %></span>
              <img class="team-flag" src="<%= match.away_team.flag_url %>">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>