<% @days.each do |day, matches| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><%= I18n.l(day) %></div>
        <div class="panel-body">
          <table class="table table-bordered match-table">
            <% MatchPresenter.wrap(matches).each do |match| %>
              <tr>
                <td class="match-code hidden-xs">
                  <i class="fa fa-circle m-r-xs <%= match.match.stage %>" title="<%= match.stage %>"></i>
                  <%= match.identifier %>
                </td>
                <td class="match-date hidden-xs"><%= match.datetime %></td>
                <td class="match-stadium hidden-xs hidden-sm"><%= match.stadium.name %></td>
                <td class="match-team match-home-team">
                  <img class="team-flag" src="<%= match.home_team.flag_url %>">
                  <span class="team-name hidden-xs"><%= match.home_team.name %></span>
                  <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.home_team.fifa_code %></span>
                </td>
                <td class="match-score match-home-score"><%= match.home_complete_score %></td>
                <td class="match-score match-away-score"><%= match.away_complete_score %></td>
                <td class="match-team match-away-team">
                  <span class="team-code hidden-lg hidden-md hidden-sm"><%= match.away_team.fifa_code %></span>
                  <span class="team-name hidden-xs"><%= match.away_team.name %></span>
                  <img class="team-flag" src="<%= match.away_team.flag_url %>">
                </td>
                <td class="match-actions">
                  <%= link_to match, remote: true do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
