<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t('.title') %></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th><%= t('.labels.player') %></th>
              <th class="text-center" style="width: 40px"><%= t('.labels.score') %></th>
            </tr>
          </thead>
          <tbody>
            <% current_score = 0 %>
            <% report.query.each_with_index do |row, idx| %>
              <tr>
                <td><strong><%= row.total_score == current_score ? "" : idx + 1 %></strong></td>
                <td><%= row.player_name %></td>
                <td class="text-center"><%= row.total_score %></td>
              </tr>
              <% current_score = row.total_score %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>