<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t('.title') %></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body no-padding">
        <% if report.predictions.empty? %>
          <div class="well text-center"><%= t('.none') %></div>
        <% end %>
        <table class="table table-bordered">
          <tbody>
            <% report.predictions.each do |row| %>
              <tr id="match-<%= row.match.id %>">
                <td colspan="4">
                  <img class="team-flag" src="<%= row.match.home_team.flag_url %>">
                  <span class="team-name hidden-xs"><%= row.match.home_team.name %></span>
                  <span class="team-name hidden-sm hidden-md hidden-lg"><%= row.match.home_team.fifa_code %></span>
                  <span><%= row.match.home_complete_score %></span>
                  <span> x </span>
                  <span><%= row.match.away_complete_score %></span>
                  <span class="team-name hidden-sm hidden-md hidden-lg"><%= row.match.away_team.fifa_code %></span>
                  <span class="team-name hidden-xs"><%= row.match.away_team.name %></span>
                  <img class="team-flag" src="<%= row.match.away_team.flag_url %>">
                  <button data-toggle="<%= row.match.id %>" class="btn btn-xs btn-default pull-right"><i class="fa fa-eye"></i></button>
                </td>
              </tr>
              <tr data-row="<%= row.match.id %>" class="hidden">
                <th><%= t('.labels.player_name') %></th>
                <th><%= t('.labels.prediction') %></th>
                <th>
                  <span class="hidden-xs"><%= t('.labels.score') %></span>
                  <span class="hidden-sm hidden-md hidden-lg"><i class="fa fa-star"></i></span>
                </th>
              </tr>
              <% row.predictions.each_with_index do |prediction, idx| %>
                <tr data-row="<%= row.match.id %>" class="hidden">
                  <td><%= prediction[:player_name] %></td>
                  <td>
                    <% if prediction[:score] == -2 %>
                      <%= t('.no_prediction') %>
                    <% else %>
                      <span><%= prediction[:values].home_complete_score %></span>
                      <span> x </span>
                      <span><%= prediction[:values].away_complete_score %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= case prediction[:score]
                        when -1; t('.no_score')
                        when -2; ""
                        else; prediction[:score]
                        end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $('button[data-toggle]').click(function() {
    $('[data-row=' + $(this).data('toggle') + ']').toggleClass('hidden');
    $(this).find('i').toggleClass('fa-eye-slash');
    $(this).find('i').toggleClass('fa-eye');
  });
</script>
