<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%= t('application.title') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="skin-blue">
    <div class="wrapper">
      <%= render 'layouts/application/header' %>
      <%= render 'layouts/application/left_nav' %>
      <div class="content-wrapper">
        <section class="content-header">
          <% if content_for? :head %>
            <%= yield :head %>
          <% else %>
            <h1 class="panel panel-body">
              <%= t('title', scope: [controller_path.split('/'), action_name].flatten) %>
            </h1>
          <% end %>
        </section>
        <section class="content">
          <%= yield %>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b><%= t('application.version') %></b> 0.0.1-alpha
        </div>
        <strong>&copy; <%= Date.current.year %> <%= t('application.company') %></strong> | <%= t('application.copyright') %>
      </footer>
      <%= flash_notification_script %>
    </div>
  </body>
</html>
