<!DOCTYPE html>
<html>
  <head>
    <title>WorldCup Predictions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">
      <%= render 'layouts/application/header' %>
      <%= render 'layouts/application/left_nav' %>
      <div class="content-wrapper">
        <section class="content-header">
          <%= yield :head %>

        </section>
        <section class="content">
          <%= yield %>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Versão</b> 0.0.1-alpha
        </div>
        <strong>&copy; 2018
          World Cup Predictions.</strong> Todos os direitos reservados.
      </footer>
      <%= render 'layouts/application/right_nav' %>

    </div>
    <!-- ./wrapper -->
  </body>
</html>
